.input-container input{
    border-radius: 5px;
    border: none;
    background-color: #f7f5f5;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    width: 83%;
    margin-right: 10px;
}
.input-container button{
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #326b89;
    font-weight: 600;
    font-size: 14px;
}